[Unit]
Description=Discord Polybot Service (Dev)
After=network.target
Wants=network-online.target
StartLimitIntervalSec=0

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/MyPolyBot
ExecStart=/home/ubuntu/MyPolyBot/.venv/bin/python -m polybot.app
Restart=always
RestartSec=10
Environment=PYTHONUNBUFFERED=1
EnvironmentFile=/home/ubuntu/MyPolyBot/.env.dev

[Install]
WantedBy=multi-user.target